	 <div class="main">
		  <div class="content">
				<div class="content_bottom">
					 <div class="wrap">
						  <div class="content-bottom-left">
								<div class="categories">
									 <ul class="checkmark">
										  <h3>Filter Products</h3>
										  <li ng-class="(filters.indexOf('fruit') != -1) ? 'checked' : 'unchecked'"><a ng-href="#shop" ng-click="filterProducts('fruit')">Fruits</a></li>
										  <li ng-class="(filters.indexOf('vegetable') != -1) ? 'checked' : 'unchecked'" ><a ng-href="#shop"  ng-click="filterProducts('vegetable')">Vegetables</a></li>
									 </ul>
								</div>
								<div class="buters-guide">
									 <h3>Buyers Guide</h3>
									 <p><span>To make the most out of your shopping experience:</span></p>
									 <ul class="guide">
										 <li>Use the filter above to quickly browse through categories.</li>
										 <li>To find a specific product, type its name into the search bar.</li>
										 <li>You can also refine the chosen quantities inside the cart view.</li>
										 <li>Don't worry if you miss anything. You can always come back and refine your chosen items.</li>
									 </ul>
								</div>
						  </div>

						  <div class="content-bottom-right">
							<h3>Browse Products
												 <div class="header_top_right">
						  <div class="search_box">
								<span>Search</span>
								<form>
									 <input type="text" id="searchVeg" placeholder="Search product" ng-model="search" value=""><input type="submit" value="">
								</form>
								<div class="clear"></div>
						  </div>
					 </div></h3>
							<div ng-repeat="product in visibleProducts" ng-if="$index % 3 == 0" class="section group">
								 <div class="grid_1_of_4 images_1_of_4 produce-box">
									  <product-box cart='cart' product='visibleProducts[$index]'></product-box>
								 </div>
								 <div ng-if="visibleProducts.length > ($index + 1)" class="grid_1_of_4 images_1_of_4 produce-box">
									  <product-box cart='cart' product='visibleProducts[$index+1]'></product-box>
								 </div>
								 <div ng-if="visibleProducts.length > ($index + 2)" class="grid_1_of_4 images_1_of_4 produce-box">
									  <product-box cart='cart' product='visibleProducts[$index+2]'></product-box>
								 </div>
							</div>
						  </div>
						  <div class="rightsidebar span_3_of_1 sidebar">
								<h3>Your Cart</h3>
								<ul class="popular-products shoppin-cart">
									 <li class="cart-container">
										  <ul class="cart">
										  	<li class="cart-item-container" ng-if="quantity > 0" ng-repeat="(cartItem,quantity) in cart.items">
										  		<img class="cart-image" style="background-image: url('{{getProductImage(cartItem)}}')" alt="" />
										  		<div class="cart-item-details">
										  			{{cartItem}}
										  			<span ng-click="deleteFromCart(cartItem)" class="remove-item">x</span>
										  		</div> 
										  		<div class="small-cart-operators" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" >
								  					<div ng-click="subtractFromCart(cartItem)" class="cart-button">-</div>
													<input value="{{quantity}}" class="in-cart">
													<div ng-click="addToCart(cartItem)" class="cart-button">+</div>
											  		<div class="item-amount">
											  			&pound; {{(getProductPriceByQuantity(cartItem,quantity) | number:2)*1}}
											  		</div>
											  		<div class="clear"></div>
										  		</div>
										  	</li>
										  </ul>
										  <div ng-hide="cart.total == 0"  class="total-items-container">
										  	<div class="total-items">{{getTotalItemsNumber()}} Items</div>
										  </div>
										  <div ng-hide="cart.total == 0" class="total-container">
										  		<a href="#/checkout" class="checkout-button">Checkout</a>
									  			<span class="total"><span class="total-label" >Total : </span>&pound; {{(cart.total | number:2)*1}}</span>
										  </div>
										  <div ng-show="cart.total == 0">
										  		<div>Add items to cart</div>
										  </div>
										 
									 </li>
								</ul>
							</div>
						  <div class="clear"></div>
					 </div>
				</div>
		  </div>
	 </div>